{% extends 'base.html' %}
{% block head %}{% endblock %}

{% block body %}
<div class="content">
    <h1>HomePage</h1>
    <form accept="/" method="POST">
        <input type="submit" name="submit" value="Login1"> <br>
        <input type="submit" name="submit" value="FB"> <br>
        <input type="submit" name="submit" value="Google"> <br>
        <input type="submit" name="submit" value="Reddit"> <br>
        <input type="submit" name="submit" value="Adobe">
    </form>
</div>    
{% endblock %}